# editorconfig.org
root = false

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true

[**.{xml,csproj,vbproj}]
indent_style = space
indent_size = 2
end_of_line = lf
max_line_length = 120
trim_trailing_whitespace = true

[{**.{yaml,yml},.yamllint}]
indent_style = space
indent_size = 2
end_of_line = lf
max_line_length = 100
trim_trailing_whitespace = true

[**.{cs,vb}]
indent_size = 4
indent_style = space
trim_trailing_whitespace = true

[**.md]
trim_trailing_whitespace = false
max_line_length = 120

[**.robot]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[**.rst]
end_of_line = lf
max_line_length = 100
trim_trailing_whitespace = true
